@tailwind base;
@tailwind components;
@tailwind utilities;

.isActive {
    color: #028080;
}

.App-navigation-item--active {
    color: #0E9488 !important;
}

.App-navigation-item {
    color: #ffffff;
}

.clip-right {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 84%);
}

.clip-left {
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0 100%);
}

.demo-typewriter span {
    overflow: hidden;   
    border-right: .10em solid #0E9488;
    white-space: nowrap;   
    margin: 0 auto;   
    letter-spacing: .2rem;   
    animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
  }
  @keyframes demo-typewriter {
    from { 
      width: 0;
    }
    to { 
      width: 100%;
    }
  }
  
  @keyframes demo-cursor {
    from, to { 
      border-color: transparent; 
  }
    50% { 
  border-color: #0E9488; 
    }
  }

body {
  overflow-x: hidden;
}

.icon > svg {
  fill: #737373;
}

.icon:hover > svg {
  fill:#0E9488;
  transition: fill .3s linear;
}

.arrowUp > svg {
  fill: #0E9488;
}

.arrow > svg {
  fill: #0E9488;
  width: 70%;
}

.gitHub > svg {
  fill: #525252;
}

.gitHub:hover > svg {
  fill: #0E9488;
  transition: all .3s linear;
}